<ul class="nav nav-pills nav-edited">

  <li class="nav-item">
    <a i18n class="nav-link text-nav" [routerLink]="'search'">SEARCH</a>
  </li>
  <li class="nav-item">
    <a i18n class="nav-link text-nav" [routerLink]="'contact'">CONTACT</a>
  </li>
  <li class="nav-item">
    <a i18n class="nav-link text-nav" [routerLink]="'about-us'">ABOUT US</a>
  </li>
  <li class="nav-item">
    <a i18n class="nav-link text-nav" href="http://localhost:8080/login">LOG IN</a>
  </li>
</ul>
