/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  background-color: #13083f;
  border-radius: 20px;
  color: white;
  padding: 10px;
  width: 100%;
  bottom: -20px;
}
