.background{
  background-color: #FCF8F3;
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

.background-image {
  background-image: url('../../assets/mainBackground.png');
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo-and-navigation-box{
  position: relative;
  height: 90px;
  width: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-box{
  max-width: 50%;
  position: relative;
  top: 200px;
  left: 40px;
}
.welcome-text{
  font-weight: 900;
  color: #140940;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}
.button-edited{
  background-color: #140940;
  border-color: #140940;
}

.carousel-settings{
  padding: 20px;
}
