<div>
  <div class="background">
    <div class="background-image">
      <div class="logo-and-navigation-box">
        <app-logo></app-logo>
        <app-navigation></app-navigation>
      </div>
      <div class="welcome-box">
        <p i18n class="welcome-text">Tired of learning?<br/>Try our special holiday offer now!</p>
        <button i18n type="button" class="btn btn-primary button-edited">CHECK NOW!</button>
      </div>
    </div>
    <div>
      <app-search-bar></app-search-bar>
    </div>

    <div class="carousel-settings" >
      <h1 i18n> Suggested for you</h1>
      <app-carousel [carouselId]="'carousel1'"></app-carousel>
    </div>
    <div class="carousel-settings" >
      <h1> Last minute</h1>
      <app-carousel [carouselId]="'carousel2'"></app-carousel>
    </div>
    <div class="carousel-settings" >
      <h1 i18n> Great offer</h1>
      <app-carousel [carouselId]="'carousel3'"></app-carousel>
    </div>
    <div class="carousel-settings" >
      <h1 i18n> Last chance</h1>
      <app-carousel [carouselId]="'carousel4'"></app-carousel>
    </div>
  </div>
</div>

