<app-search-bar></app-search-bar>

<div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">Rating</th>
    </tr>
    </thead>

    <tbody >
    <tr *ngFor="let hotel of hotels; let i = index">
      <td>{{i+1}}</td>
      <td>{{hotel.name}}</td>
      <td>{{hotel.cityName}}</td>
      <td>{{hotel.rating}}</td>
    </tr>
    </tbody>
  </table>
</div>
