body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.login-container, .register-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #4cae4c;
}

a {
    display: inline-block;
    margin-top: 10px;
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.register-link {
    margin-top: 20px;
    text-align: center;
}

.register-link p {
    color: #666;
}

.register-link a {
    color: #337ab7;
    text-decoration: underline;
}

.register-link a:hover {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}