.group {
  position: relative;
  height: 90px;
  display: flex;
  align-items: center;
}
.logo {
  position: relative;
  width: 90px;
}
.company-name {
  position: relative;
  left: 10px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #140940;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}


