<div [id]="carouselId" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" [attr.data-bs-target]="'#' + carouselId" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" [attr.data-bs-target]="'#' + carouselId" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" [attr.data-bs-target]="'#' + carouselId" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner carousel-edite">
    <div class="carousel-item active">
      <a href="http://localhost:4200/hotel/{{hotels[0].name}}">                              <!-- todo link-->
      <img [src]="downloadURL[0]" class="d-block w-100" alt="Image {{hotels[0].name}}">                             <!-- todo lepsze zdjęcia-->
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{carouselId}} {{hotels[0].name}}</h5>                                                    <!-- todo zrobić, by pobierało z springa-->
        <p>{{hotels[0].address}}</p>                                                                    <!-- todo zrobić, by pobierało z springa-->
      </div>
    </div>
    <div class="carousel-item">
      <a href="http://localhost:4200/hotel/{{hotels[1].name}}">                              <!-- todo link-->
      <img [src]="downloadURL[1]" class="d-block w-100" alt="Image {{hotels[1].name}}">                   <!-- todo zrobić, by pobierało z springa-->
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{carouselId}} {{hotels[1].name}}</h5>                                                    <!-- todo zrobić, by pobierało z springa-->
        <p>{{hotels[1].address}}</p>                                                                    <!-- todo zrobić, by pobierało z springa-->
      </div>
    </div>
    <div class="carousel-item">
      <a href="http://localhost:4200/hotel/{{hotels[2].name}}">                              <!-- todo link-->
      <img [src]="downloadURL[2]" class="d-block w-100" alt="Image {{hotels[2].name}}">                               <!-- todo zrobić, by pobierało z springa-->
      </a>
      <div class="carousel-caption d-none d-md-block">
        <h5>{{carouselId}} {{hotels[2].name}}</h5>                                                    <!-- todo zrobić, by pobierało z springa-->
        <p>{{hotels[2].address}}</p>                                                                    <!-- todo zrobić, by pobierało z springa-->
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#' + carouselId" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#' + carouselId" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
