<div class="box">
  <div class="table">
    <div class="form-floating cell">
      <input type="city" class="form-control" id="CityInput" [(ngModel)]="city" placeholder="Wherever" name="city">
      <label for="CityInput">Where</label>
    </div>
    <div class="form-floating cell">
      <input type="data" class="form-control" id="dataStartInput" [(ngModel)]="startDate" placeholder="Whenever" name="startDate">
      <label for="dataStartInput">When</label>
    </div>
    <div class="form-floating cell">
      <input type="data" class="form-control" id="dataEndInput" [(ngModel)]="endDate" placeholder="Whenever" name="endDate">
      <label for="dataEndInput">When</label>
    </div>
    <div class="cell">
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" id="floatingSelectGrid" [(ngModel)]="guestsNumber" name="guestsNumber">
            <option selected>Select menu</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
          <label for="floatingSelectGrid">Guests number</label>
        </div>
      </div>
    </div>
    <button class = "btn btn-primary button-edited search-button" (click)="search()">  SZUKAJ</button>
  </div>
</div>
