.box {
  margin: 20px;
  border-radius: 20px;
  position: relative;
  border: 1px solid #13083f;
}
.table{
  display:table;
  margin: 20px;
  width: 800px;
}
.cell {
  display: table-cell;
  height: 30px;
}
.search-button {
  position: absolute;
  width: 200px;
  height: 60px;
  top: 45px;
  right: 40px;
  color:white;
  background-color: #13083f;
  border-color: #140940;
  border-radius: 8px;
  overflow: hidden;
}

